<!DOCTYPE html>
<html>
<head>
  <title>SendhubChallenge</title>
  <meta name="keywords" content="WebRTC, HTML5, JavaScript" />
  <meta name="description" content="Client-side WebRTC code samples." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">

  <base target="_blank">

  <title>Audio stream volume</title>

  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app = 'sendhub'>
  <div id="container" ng-controller = 'HomeController'>
  <h1><a href="https://googlechrome.github.io/webrtc/" title="WebRTC samples homepage">WebRTC samples</a> <span>Audio stream volume</span></h1>

  <p>Measure the volume of a local media stream using WebAudio.</p>

  <div id="meters">
    <div id='range'>
      <div>Threshold: <input type='range' ng-init='threshold=0.5' value=0.5 max=1.0 step=0.01 ng-model='threshold'><span id='threshold'>{{ threshold }}</span>
    </div>
    <div id="instant">
      <div class="label">Instant: </div>
      <meter high="0.25" max="1" value="0"></meter>
      <div class="value"></div>
    </div>
    <div id="slow">
      <div class="label">Slow: </div>
      <meter high="0.25" max="1" value="0"></meter>
      <div class="value"></div>
    </div>
    <div id="clip">
      <div class="label">Clip: </div>
      <meter max="1" value="0"></meter>
      <div class="value"></div>
    </div>
  </div>
  <p>{{ slow }}</p>
  <p>{{ output.sum }}</p>
  <p>The 'instant' volume changes approximately every 50ms; the 'slow' volume approximates the average volume over about a second.</p>
  <p>The <code>audioContext</code>, <code>stream</code> and <code>soundMeter</code> variables are in global scope, so you can inspect them from the console.</p>

  <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/getusermedia/volume" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
</div>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
